@mixin projects-home--default {
    .projects {
        &__card {
            height: rem(200);
        }
        &__title {
            > a {
                color: #212529;

                &:hover {
                    text-decoration: none;
                    color: #000;;
                }
            }
        }
        &__delete {
            padding-left: rem(20);
        }
    }
}

@include projects-home--default;